.list_subtitle {
    display: flex;
    background: 'background.paper';
    border-radius: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.list_title {
    font-size: 24px !important;
    font-weight: bold !important;
}

.filtr_name {
    font-size: 14px;
    font-weight: normal;
    color: green;
}

.CurrentSearch_class {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    gap: 20px;
}

.CurrentSearch_form {
    display: flex;
    align-items: center;
    width: 264px;
    height: 48px;
    padding: 2px 4px;
}