.People {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1;
    padding: 1;
    background: #ffffff;
    border-radius: 1;
    width: 100%;
}

.People_class {
    width: 244px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.All_class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.all_text {
    font-size: 12px;
    font-weight: normal;
}

.all_number {
    font-size: 20px !important;
    font-weight: bold !important;
}

.Standar_class {
    width: 244px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.Standart_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.standart_text {
    font-size: 12px;
    font-weight: normal;
}

.standart_number {
    font-size: 20px !important;
    font-weight: bold !important;
}

.Large_class {
    width: 244px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.Large_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.large_text {
    
}
